*#list {background-color: #D0E8A7;}
*.ramka {border-width: 2px;
	   border-color: #628821;
	   border-style: ridge;}
#col1 {background-color: #D7EEB0;}
#col2 {background-color: #CFEE9A;}
#col3 {background-color: #B7DD75;
height: 40px}
.shrift{font-style: normal;
		font-weight: bold;
		font-size: 20px;}
.shrift2 {font-style: oblique;
		font-weight: bold;
		font-size: 15px;}